body{background-color:#e8e8e8; color:#000; font: 1em/1.125em normal normal Arial,Helvetica,sans-serif; text-align:left;}

*.wrapper {width:817px; position:relative; margin:0 auto; background:url(../images/shadow-sides.png) repeat-y; border:none;} 

#header {width:759px;height:74px;background: url(../images/header.gif) no-repeat; position:relative; margin:0 0 0 29px;}
#banner {width:759px; margin:9px 0 5px 29px;}
#header h3, #header h1 {position: absolute;}
#header h3 a, #header h1 a {text-indent: -9999px; display: block;}
#header h1 {top: 15px; left: 92px;}
#header h1 a {width:285px; height:30px;}
#header h3 {top:47px; left:92px;}
#header h3 a {width:185px; height:17px;}
#header ul a {display:block; padding:0 5px 23px 5px; text-decoration:none; height:auto;}
#header ul a:hover {background: url(../images/selector_up.png) 50% 100% no-repeat; color:#5bb9d6;}

/* mini-nav in the header and footer */
ul.mininav {position: absolute;}
ul.mininav li {display: inline; margin: 0; padding: 0;}
ul.mininav a {color: #fff; text-decoration: none;}
ul.mininav a:hover {text-decoration: underline;}
ul.mininav li {border-left: 1px solid #fff; padding-left: 5px;}
ul.mininav li.first {border-left: 0;}
#header ul.mininav {bottom: -13px; right: 5px; font-size:0.8em; font-weight: bold;}
#header ul.mininav li {border: none; display: block; float: left;}

#middle {width: 759px; margin:0 0 0 29px; background:url(../images/fade-bg.gif) repeat-x; float:left; padding:0; border:none;font-size:.9em;}

#middle h1,h2,h3,h4,h5,h6 {font-weight:bold;}
#middle h1 {font-size:1.25em;line-height:1.5em;margin:0;color:#FFFFFF}
#middle h3 {font-size:1em;line-height:1.5em;margin:10px;}
#middle h4 {font-size:1em;color:inherit;line-height:1em;margin:5px 10px;}
#middle h5 {font-size:1em;color:#905F00;line-height:1.5em;}
#middle h6 {font-size:1em;color:#808080;line-height:1.25em;margin:0;} 

#middle ul.list {list-style-image: none; list-style-type: square; margin:0 0 0 20px; }
#middle ul.list ul {list-style-image: none;}
#middle ul.list li {font-size:.8em;font-weight:normal;margin:0;}
#middle ul.list li li {font-size:.8em;font-weight:normal;margin:0;}

#middle ul { list-style-type: none; margin: 0; padding: 0; }
#middle ul {list-style-image: url(../images/arrow_bullet.gif); background-position: 0 50%; background-repeat: no-repeat; padding: 0 0 0 18px; margin: 10px 0 10px 5px; font-weight:bold; }

#middle h2 {font-size:1.5em; line-height:1.5em; font-weight:bold; letter-spacing:-2px; color:#333333; text-shadow:#dfdfdf 1px 1px 1px; margin:5px 20px 0px 0px; text-align:center; background-color:#5bb9d6; }
#middle p {font-size:1em; line-height:1em; margin:10px 0 10px 10px;}

#middle table { margin:0 10px; border:5px solid #f5f5f5; background:transparent; color:black; }
#middle td {text-align:left;padding:5px;color:#5bb9d6; }
#middle th  {font-size: 1em; font-weight:bold; padding:3px 2px; }
#middle td.currency {text-align:right;}

#middle a:link {color:#5bb9d6;}
#middle a:visited {color:#333333;}
#middle a:hover {color:#905F00;}
#middle p a:link {color:black;}
#middle p a:focus {font-weight:bold;}

#content {float:left;width:749px;margin:12px;}
#content a {display:inline;color:#252D2B;font-size:1em;}

div#linkbox {float:left;margin: 0 0 20px 60px;font-size:.7em;border:10px solid lightgray ;background-color:lightgray;width:85%;}
#linkbox a:link, a:visited {color:black;text-decoration:none;}
#linkbox a:hover, a:focus {color:black;text-decoration:underline;}
div#linkbox-col1 {float:left;overflow:hidden;}
div#linkbox-col2 {float:right;overflow:hidden;}

#footer {width:749px;margin:0 0 0 29px;clear:left;background:#104555;color:#fff;font-size:80%;position:relative;padding:5px;}
#footer .mininav {top: 5px; right: 5px;}
#footer a {text-decoration:none;}
#footer a:visited {color:White;}
#footer a:hover {color:#5bb9d6;}
#footer a:active {color:White;}

.yellow { font-size:1em;border:2px solid #99cc00;background-color:#ffff99;padding:10px;margin:10px;line-height:1.25em;}
.yellow span {font-size:150%;font-weight:bold;text-decoration:none;}

.clear { height: 0px; clear: both; }
